# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
.cache

# Environments
/.venv

# Dev tools
.idea

# == Specific for this repository ==
/tests/local_config.py
