name: mara-db

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
    steps:
      - name: Chechout code
        uses: actions/checkout@v3.3.0
      - name: Setup python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install application
        env:
          pythonversion: ${{ matrix.python-version }}
        run: |
          python -c "import sys; print(sys.version)"
          pip install .[test]
          echo Finished successful build with Python $pythonversion
      - name: Test with pytest
        run: |
          make tests/local_config.py
          pytest -v tests
